{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Produto</title>

</head>
<body>
    {% block content  %}
    <div class="container">
        <h1>Excluir Produto</h1>
        <p>Tem certeza que deseja excluir o produto <strong>{{ object.nome }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Excluir</button>
            <a href="{% url 'Listar_produtos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
{% endblock content  %}
</html>
