{% extends "base.html" %}
{% block title %} {{ fornecedor.nome }} {% endblock title %}
{% block content %}
<center>
<div class="container">
    <h2 class="page-title">Detalhes do Fornecedor</h2>

    <div class="detail-group">
        <p class="detail-title">Nome:</p>
        <p class="detail-content">{{ fornecedor.nome }}</p>
    </div>

    <div class="detail-group">
        <p class="detail-title">Telefone:</p>
        {% if fornecedor.telefone == "" %}
        <p class="detail-content">Nenhum telefone adicionado.</p>
        {% else %}
        <p class="detail-content">{{ fornecedor.telefone }}</p>
        {% endif %}
        
    </div>

    <div class="detail-group">
        <p class="detail-title">Email:</p>
        {% if fornecedor.email == "" %}
        <p class="detail-content">Nenhum e-mail adicionado.</p>
        {% else %}
        <p class="detail-content">{{ fornecedor.email }}</p>
        {% endif %}
       
    </div>

    <div class="detail-group">
        <p class="detail-title">Resumo:</p>
        {% if fornecedor.resumo == "" %}
        <p class="detail-content">Nenhum resumo adicionado.</p>
        {% else %}
        <p class="detail-content">{{ fornecedor.resumo }}</p>
        {% endif %}
        
    </div>

    <a href="{% url 'Listar_fornecedores' %}" class="btn btn-secondary">Voltar</a>
</div>
</center>
{% endblock content %}
